<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <img id="logo" src="/static/VACHAT.png" alt="A description of the image"style="margin-top:200px">

    <form action="/search" method="GET">
      <input type="text" id="query" name="query" style=" width:30vw;">
      <input type="submit" value="search">
    </form> 
    <!-- <form method="POST" action="{{ url_for('myfunction') }}">
      <input type="submit" value="Call myfunction">
  </form> -->
  </body>
</html>